<!DOCTYPE html>
<html lang="en">
        <%- include('../layout/header'); -%>
<body>
    
    <div class="kotak-login">
        <p class="title-login">Log in</p>
        <hr/>

        <form action="">
            <input type="text" class="form-login" name="email" placeholder="Email">

            <input type="text" class="form-login" name="email" placeholder="Password">
            
        </form>
        <button type="submit">Submit</button>
    </div>
    <%- include('../layout/footer'); -%>
</body>
</html>